.login-container {
  display:flex;
  align-items: center;
  background-color:#D16666;
  justify-content:center;
 

}


.login {
  background: #7fb285;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 70%;
  max-width: 420px;

 
}


.card-name {
  font-size: 40px;
}

.card-info {
  font-size: 25px;
}

.btn-back {
  text-decoration: none;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}
